@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
  }
@theme {
  /* Colors  */
  --color-primary: #DB4444;
  --color-secondary: #235689;
  --color-secondary-2: #DB4444;
  --color-white: #fefefe;

  
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75.125rem;
}
.button_after {
  position: relative;
}

.button_after::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}

.slick-dots {
  position: absolute;
  bottom: 11px !important;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 100;
  display: flex !important;
  gap: 7px !important;
}

.slick-dots li  {}
.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #7D8184 !important;
  font-size: 0 !important;
  background: #7D8184 !important;
  border-radius: 50% !important;
  cursor: pointer;
}
.slick-dots li button {
  opacity: 0;
}
.slick-dots li.slick-active {
  background: #DB4444 !important;
  border: 2px solid #ffffff !important;
}


/* flash-sale */
#flash-sale .arrow {
  position: absolute;
  top: -75px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #F5F5F5;
}

#flash-sale .arrow.prev-arrow {
  right: 65px;
  z-index: 100;
}
#flash-sale .arrow.next-arrow {
  right: 16px;
  z-index: 100;
}